node_modules/
build/
dist/
/.env*
/.env.local
/.env.*.local
package-lock.json
pnpm-lock.yaml
yarn.lock
.DS_Store
.idea/
.vscode/
.cache/
*.log
*.log.*
coverage/
.env
/.pnp.cjs
/.pnp.loader.mjs
/.pnp.js
/.parcel-cache/
/.turbo/
*.tgz
/.temp/
/.DS_Store
thumbs.db
.sass-cache
dist/
build/